@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --primary: #E50013;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: var(--primary);
}

.background-primary {
  background: var(--primary);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(65.64deg, rgba(255, 255, 255, 0.55) 15.36%, rgba(255, 255, 255, 0.77) 96.82%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -136px 54px rgba(77, 0, 8, 0.01), 0px -76px 46px rgba(77, 0, 8, 0.03), 0px -34px 34px rgba(77, 0, 8, 0.04), 0px -8px 19px rgba(77, 0, 8, 0.05);
  backdrop-filter: blur(14.8px);
}

.hero::before {
  content: url("/check-white.svg");
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  width: 89px;
  height: auto;
}

.hero__header {
  font-size: 80px;
}

.hero__form {
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA), linear-gradient(65.87deg, rgba(255, 255, 255, 0.22) 3.97%, rgba(255, 255, 255, 0.308) 96.81%);
}

.hero__form__input {
  background: linear-gradient(102.84deg, rgba(255, 255, 255, 0.9) 35.75%, rgba(255, 255, 255, 0.693) 100.58%);
  box-shadow: 0px 13px 76.5px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(4px);
}

.input::placeholder {
  font-style: italic;
  color: #988B82;
}

.heroBackground {
  left: 50%;
  transform: translateX(-50%);
}

.heroBackground__check {
  filter: drop-shadow(3px -26px 10px rgba(0, 0, 0, 0.01)) drop-shadow(2px -14px 9px rgba(0, 0, 0, 0.05)) drop-shadow(1px -6px 6px rgba(0, 0, 0, 0.09)) drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.1));
}

.hero__checklist__item::before {
  content: '';
  background: url("/check-red.svg") center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 120%;
  height: 80px;
  bottom: -64px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(255, 255, 255, 0) 0.01%, #FFFFFF 100%);
} */

.sectionHeader__before {
  letter-spacing: 0.21em;
}

.box--1::after {
  content: "";
  background: url("/shape-1.svg") 100% no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 218px;
}

.box--2::after {
  content: "";
  background: url("/shape-2.svg") 100% no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 230px;
}

.box--3::after {
  content: "";
  background: url("/shape-3.svg") 100% no-repeat;
  background-position: bottom center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 236px;
}

.box--4::after {
  content: "";
  background: url("/shape-4.svg") 100% no-repeat;
  background-position: center left;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 380px;
  height: 100%;
}

.box--5::after {
  content: "";
  background: url("/shape-5.svg") 100% no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 210px;
  height: 100%;
}

.grid__item {
  box-shadow: 5px 64px 26px rgba(153, 46, 46, 0.01), 3px 36px 22px rgba(153, 46, 46, 0.05), 1px 16px 16px rgba(153, 46, 46, 0.09), 0px 4px 9px rgba(153, 46, 46, 0.1);
}

.btn > img {
  transition: .2s all ease-in-out;
}

.btn:hover > img {
  transform: translateX(3px);
}

.mobileMenuBtn::after {
  content: "";
  display: block;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: #DEDEDE;
}

.background {
  display: block;
  position: absolute;
  max-width: 1500px;
}

.background--1 {
  top: 0;
  left: 0;
  width: calc(100vw * 0.73);
  height: auto;
  background: linear-gradient(132.93deg, #E50013 9.89%, #FFFFFF 89.62%);
  opacity: 0.08;
  filter: blur(128px);
  transform: rotate(15deg);
}

.background--2 {
  top: 0;
  right: 0;
  width: calc(100vw * 0.32);
  height: auto;
  opacity: 0.25;
  z-index: 10;
}

.background--3 {
  top: 270px;
  left: 0;
  width: calc(100vw * 0.55);
  height: auto;
  opacity: .5;
  z-index: 10;
}

.background--4 {
  top: -150px;
  right: 0;
  width: calc(100vw * 0.25);
  height: auto;
  z-index: 30;
}

.background--5 {
  top: 50%;
  left: 0;
  width: calc(100vw * 0.25);
  height: auto;
  z-index: 10;
  opacity: .7;
}

.background--6 {
  top: 0;
  left: 0;
  width: calc(100vw * 0.45);
  height: calc(100vw * 0.45);
  z-index: 10;
  opacity: .75;
}

.background--7 {
  top: -200px;
  right: 0;
  transform: translateX(30%);
  width: calc(100vw * 0.4);
  height: calc(100vw * 0.4);
  z-index: 10;
  opacity: .8;
}

.background--8 {
  position: absolute;
  width: calc(100vw * 0.48);
  height: calc(100vw * 0.48);
  top: 0;
  left: 0;
  background: linear-gradient(132.93deg, #E50013 9.89%, #FFFFFF 89.62%);
  opacity: 0.08;
  filter: blur(128px);
}

.hero__form {
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA), linear-gradient(65.87deg, rgba(255, 255, 255, 0.22) 3.97%, rgba(255, 255, 255, 0.308) 96.81%);
}

.login__form {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(65.87deg, rgba(255, 255, 255, 0.33) 3.97%, rgba(255, 255, 255, 0.462) 96.81%);
  box-shadow: 0px -118px 47px rgba(113, 47, 47, 0.01), 0px -66px 40px rgba(113, 47, 47, 0.02), 0px -29px 29px rgba(113, 47, 47, 0.03), 0px -7px 16px rgba(113, 47, 47, 0.04);
  border-radius: 32px;
}

.login__left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(165, 165, 165, 0.08) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(65.87deg, rgba(255, 255, 255, 0.33) 3.97%, rgba(255, 255, 255, 0.462) 96.81%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 10;
}

.login__right::after {
  content: url("/login-bg.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: calc(100vh - 400px);
}

@media(max-width: 1280px) {
  .background {
    display: none;
  }

  .box--2::after {
    height: 160px;
  }

  .box--4::after,
  .box--5::after {
    display: none;
  }
}

@media(max-width: 1024px) {
  .login__right::after {
    display: none;
  }
  
  .hero__header {
    font-size: 34px;
  }
}